<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система чатов</title>
    <link rel="stylesheet" href="static/chats/style.css">
</head>
<body>
    <h1>Система чатов</h1>

    <form method="POST">
        <input type="hidden" name="action" value="message">
        <label for="public_key">Введите общий ключ или никнейм пользователя:</label>
        <input type="text" id="public_key" name="public_key" required>
        <button type="submit">Начать чат</button>
    </form>

    <form method="POST">
        <input type="hidden" name="action" value="logout">
        <button type="submit">Выход</button>
    </form>

    <form method="POST">
        <input type="hidden" name="action" value="nickchange">
        <button type="submit">Изменить или установить ник</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
