<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>По-настоящему безопасный мессенджер</title>
    <link rel="stylesheet" href="static/index/style.css">
</head>
<body>
    <h1>Вход и регистрация</h1>

    <form method="POST">
        <input type="hidden" name="action" value="login">
        <label for="public_key">Введите общий ключ или никнейм:</label>
        <input type="text" id="public_key" name="public_key" required>
        <label for="user_key">Введите ключ входа:</label>
        <input type="text" id="user_key" name="user_key" required>
        <button type="submit">Вход</button>
    </form>

    <form method="POST">
        <input type="hidden" name="action" value="register">
        <button type="submit">Регистрация</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <div class="key-container">
        {% if key1 %}
            <div class="key-block">
                <p class="key-text">Общий ключ: {{ key1 }}</p>
                <button class="copy-btn" onclick="copyText('{{ key1 }}')">Копировать</button>
            </div>
        {% endif %}
        {% if key2 %}
            <div class="key-block">
                <p class="key-text">Ключ входа: {{ key2 }}</p>
                <button class="copy-btn" onclick="copyText('{{ key2 }}')">Копировать</button>
            </div>
        {% endif %}
    </div>
    <script src="/static/scripts/copyText.js"></script>

</body>
</html>
